/* --- src/styles.css --- */

/* 1. Reset Global y Solución de Altura */
html {
    height: 100%;
    /* EVITA EL SCROLL HORIZONTAL */
    overflow-x: hidden;
}

body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0a0a0a;
    /* EVITA EL SCROLL HORIZONTAL */
    overflow-x: hidden;
}

* {
    /* CLAVE: Asegura que padding y border se incluyan dentro del ancho y alto del elemento */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 2. Solución de Estiramiento Angular */
/* El componente raíz de Angular es el que debe ser el contenedor flexible */
app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;   /* Ocupa el 100% de la altura de la ventana */
}

/* 3. Estiramiento del Contenido (Basado en la etiqueta <main>) */
/* Ya sea que uses la clase (main.main-router-content) o solo la etiqueta (main) */
main, .main-router-content {
    flex-grow: 1; /* ¡Esto hace que el contenido se estire y empuje el footer! */
}

/* 4. Corrección de Imágenes (Se mantiene) */
img {
    max-width: 100%;
    height: auto;
}

/* ---------------------------------------------------------------- */
/* RESTRICCIÓN DE SELECCIÓN DE TEXTO (user-select) */

/* Aplica 'user-select: none' a elementos clave de la marca y la interfaz: */
.main-header,
.logo,
.main-nav a,
.btn-action,
.main-footer,
.footer-logo {
    user-select: none; /* Impide la selección de texto en header y footer */
    -webkit-user-select: none; /* Para navegadores basados en Webkit (Chrome, Safari) */
    -moz-user-select: none; /* Para Firefox */
    -ms-user-select: none; /* Para Internet Explorer/Edge */
}
